body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3%;
  color: #FEF2BF;
  padding: 1%;
}

#title-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  1%;
  color: #FEF2BF;
  border-radius: 25px;
  padding: 1%;
  background-color: #011F3F;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@keyframes fadeInOut {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeInOut {
  animation: fadeInOut 0.3s;
}

.save {
  font-family: 'Press Start 2P', cursive;
  border: 0px;
  background-color: #011F3F;
  border-bottom: solid #FEF2BF 1px;
  outline: none;
  color: #FEF2BF;
  font-size: x-large;
}

.save-button:hover {
  opacity: 0.5;
}